<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerfectTemplate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PerfectTemplate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
